<%= render 'shared/modal_wrapper' do %>
  <div data-controller="templete-toggle">
    <div class="bg-white p-4">
      <% if @templetes.present? %>
        <% @locations.each do |location| %>
          <% toggle_id = location %>
          <div class="flex justify-between p-4 mt-2 rounded border-box border-2"
              data-action="click->templete-toggle#toggle"
              data-templete-toggle-target="<%= toggle_id %>">
            <div class="text-xl fond-bold text-f-head"><%= location %></div>
            <svg class="size-6 text-f-head" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <polyline points="6 9 12 15 18 9" />
            </svg>
          </div>

          <div class="hidden bg-dull-beige rounded border-box border-1 border-gray-700 pb-4" id=<%= toggle_id %> >
            <table class="p-4">
              <thead>
                <tr>
                  <th>ストック名</th>
                  <th>ストックの型</th>
                  <th>ストックの状態</th>
                </tr>
              </thead>
              <tbody>
                <% @templetes.where(location_name: location).each do |t| %>
                  <tr>
                    <td class="w-xs/3 p-4 py-2"><%= t.stock_name %></td>
                    <td class="w-xs/3 p-4 py-2"><%= t.stock_model == 0 ? t('enums.stock.model.existence') : t('enums.stock.model.number') %></td>
                    <td class="w-xs/3 p-4 py-2"><%= displey_quantity(t) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="flex justify-end mr-4">
              <%= button_to templetes_path,
                  params: { location_name: location },
                  data: { turbo_confirm: t('defaults.confirm.templete', item: location ) , confirm_button_text: "使用する"},
                  form: { data: { action: "turbo:submit-end->modal-frame#close" } } do
              %>
                <div class="bg-dull-green text-white p-4 rounded hover:brightness-70">このテンプレートを使う</div>
              <% end %>
            </div>
          </div>
        <% end %>

      <% else %>
        <div>テンプレートが読み込まれていません</div>
      <% end %>
    </div>
    <div class="flex justify-end mr-4 mt-6">
      <%= link_to "ストック一覧に戻る", stocks_path, class: "hover:text-dull-green hover:border-b-2 border-dull-green" %>
    </div>
  </div>
<% end %>
