<%= render 'shared/modal_wrapper' do %>
  <h2 class="modal-header">LINEで買いもの依頼</h2>

  <p class="mb-4">
    送信するメッセージを編集できます。<br>
    デフォルトでは、買いものリストにあるストックが入力されています。
  </p>

  <details class="p-2 border border-f-body rounded mb-2">
    <summary class="cursor-pointer">買いものリスト一覧</summary>
    <div class="p-2 mt-2 border-t-1 border-f-body">
      <% if @shopping_stocks.present? %>
        <%= render "stocks_list", locations: @locations, stocks: @shopping_stocks %>
      <% else %>
        <p>表示するリストがありません。</p>
      <% end %>
    </div>
  </details>

  <details class="p-2 border border-f-body rounded mb-4">
    <summary class="cursor-pointer">買いものリストにないもの</summary>
    <div class="p-2 mt-2 border-t-1 border-f-body">
      <% if @not_in_shopping_stocks.present? %>
        <%= render "stocks_list", locations: @locations, stocks: @not_in_shopping_stocks %>
      <% else %>
        <p>表示するリストがありません。</p>
      <% end %>
    </div>
  </details>

  <%# NOTE: LIFFのRedirectURLを/line_messages/shareにしたいため、通常の画面遷移にする %>
  <%= form_with model: @form, url: check_line_message_path, method: :post, data: { turbo: false } do |f| %>

    <div class="flex items-center space-x-1 mb-1">
      <svg class="modal-icon" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z"/><path d="M3 20l1.3 -3.9a9 8 0 1 1 3.4 2.9l-4.7 1" /><line x1="12" y1="12" x2="12" y2="12.01" /><line x1="8" y1="12" x2="8" y2="12.01" /><line x1="16" y1="12" x2="16" y2="12.01" />
      </svg>
      <%= f.label :message, class: "modal-label" %>
    </div>
    <%= f.text_area :message,
      value: @form.message,
      rows: 8,
      class: "modal-input" %>
    <p class="text-dull-red text-sm mb-2">
      <%= @form.errors.full_messages.first if @form.errors.any? %>
    </p>

    <%= f.submit "転送する", class: "modal-submit w-full" %>
  <% end %>
<% end %>
