<div id="index" class="w-full">
  <section class="py-10 md:py-16 flex-col justify-center">
    <div class="mb-4">
      <%= image_tag 'logo.svg', class: "w-[300px] md:w-[480px] mx-auto h-25 md:h-40 border-box border border-gray-700 rounded-xl shadow-lg" %>
    </div>
    <div class="w-4/5 max-w-[600px] mx-auto text-center text-lg md:text-2xl">
      「<span class="text-dull-red font-bold">Attakke?(あったっけ？)</span>」は<br>
      ご家庭の消耗品ストックを可視化し<br>
      買いすぎや買い忘れを防止する<br>
      ストック管理アプリです
    </div>
  </section>

  <section class="max-w-[800px] mx-auto mb-6">
    <div class="grid grid-cols-1 md:grid-cols-[400px_1fr] grid-rows-auto gap-2 auto-rows-min text-base md:text-xl p-4 md:p-6">
      <% @description.each do |d| %>
        <div class="col-span-1 md:col-span-2 flex items-center space-x-2 font-bold text-xl md:text-2xl my-2 h-7">
          <span class="bg-dull-green text-white rounded-full size-8 text-center"><%= d[:number] %></span>
          <span><%= d[:caption] %></span>
        </div>
        <div><%= image_tag d[:img_url], class: "w-auto md:w-[400px] mx-auto md:mx-0 rounded pb-0 md:pb-4" %></div>
        <div class="bg-white text-center md:text-left rounded border border-gray-700 p-2 md:p-4 mb-4">
          <%= d[:sentence].html_safe %>
        </div>
      <% end %>
    </div>
  </section>

  <div class="w-full mb-10 flex justify-center">
    <% if user_signed_in? %>
      <%= link_to "ストック一覧へ", stocks_path, class: "text-xl md:text-2xl text-white bg-dull-green rounded px-8 py-4 cursor-pointer hover:brightness-70" %>
    <% else %>
      <%= button_to user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: false }, class: "flex items-center text-xl md:text-2xl text-white bg-dull-green rounded px-8 py-4 cursor-pointer hover:brightness-70" do %>
        <div class="flex items-center size-6 md:size-8 bg-white rounded-full p-[6px] md:p-2 mr-2">
          <svg class="size-3 md:size-4" version="1.1" viewBox="0 0 48 48">
            <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
            <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
            <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
            <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
            <path fill="none" d="M0 0h48v48H0z"></path>
          </svg>
        </div>
        <span>Google でログイン</span>
      <% end %>
    <% end %>
  </div>
</div>
