<%= form_with model: stock do |f| %>
  <%# DONE: アクションに応じた保管場所の変更可否 <= 実装済 %>
  <div class="text-2xl font-bold text-f-head mt-8">ストックの保管場所</div>
  <% if action_name.in?(["new", "create"]) %>
    <div class="text-xl mb-6"><%= location.name %></div>
    <%= f.hidden_field :location_id, value: location.id %>
  <% elsif action_name.in?(["edit", "update"]) %>
    <%= f.collection_select :location_id, locations, :id, :name,{ selected: stock.location_id }, { class: "bg-white border-black border rounded p-2 w-1/2 mb-6" } %>
  <% end %>

  <div class="flex flex-col mb-6">
    <%= f.label :name, class: "text-2xl font-bold text-f-head" %>
    <%= f.text_field :name, placeholder: "入力してください", class: "bg-white border-black border rounded p-2 w-1/2" %>
    <%= render 'shared/error_messages', object: stock, attribute: :name %>
  </div>

  <!-- stimulusを活用した非同期処理 -->
  <div data-controller="quantity-visibility">
    <div class="text-2xl font-bold text-f-head"><%= t('activerecord.attributes.stock.model') %></div>
    <table class="table-fixed mb-6">
      <tbody>
        <tr>
          <td class="pl-4 py-2">
            <%= f.radio_button :model, :existence, checked: true,
              data: { action: "quantity-visibility#changeModel", quantity_visibility_target: "existenceRadio" },
              class: "accent-dull-green" %>
          </td>
          <td class="pl-4 py-2 text-gray-700">チェックボックス</td>
          <td class="pl-4 py-2 text-gray-700">チェックマークでストック状態を管理します</td>
        </tr>
        <tr>
          <td class="pl-4 py-2">
            <%= f.radio_button :model, :number,
              data: { action: "quantity-visibility#changeModel", quantity_visibility_target: "numberRadio" },
              class: "accent-dull-green" %>
          </td>
          <td class="pl-4 py-2 text-gray-700">残数表示</td>
          <td class="pl-4 py-2 text-gray-700">残数でストック数を管理します</td>
        </tr>
      </tbody>
    </table>

    <%= f.fields_for :histories, stock.histories.select(&:new_record?).first do |h| %>
      <!-- ラジオで選択されている型によって表示を切り替え -->
      <div class="mb-6" data-quantity-visibility-target="existenceField">
        <%= h.label :exist_quantity, class: "text-2xl font-bold text-f-head" %>
        <%= h.hidden_field :exist_quantity, data: { quantity_visibility_target: "existenceQuantity" } %>
        <div class="flex items-center space-x-6">

          <!-- チェックありアイコン -->
          <div class="" data-quantity-visibility-target="checkedIcon">
            <svg data-action='click->quantity-visibility#toggleIcon' class="h-12 w-12 text-dull-green cursor-pointer" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <polyline points="9 11 12 14 20 6" />
              <path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" />
            </svg>
          </div>
          <!-- チェックなしアイコン -->
          <div class="hidden" data-quantity-visibility-target="notCheckedIcon">
            <svg data-action='click->quantity-visibility#toggleIcon' class="h-12 w-12 text-f-body cursor-pointer" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <rect x="4" y="4" width="16" height="16" rx="2" />
            </svg>
          </div>

          <p data-quantity-visibility-target="iconExplanation", class="text-xl">ストックあり</p>
        </div>
      </div>

      <div class="hidden flex flex-col mb-6" data-quantity-visibility-target="numberField">
        <%= h.label :num_quantity, class: "text-2xl font-bold text-f-head" %>
        <%= h.number_field :num_quantity, in: 0..100, data: { quantity_visibility_target: "numberQuantity" }, class: "bg-white border-black border rounded p-2 h-12 w-16" %>
        <%= render 'shared/error_messages', object: stock, attribute: :"histories.num_quantity" %>
      </div>
    <% end %>
  </div>

  <div class="flex justify-between items-center mb-12">
    <%= f.submit "保存", class: "text-xl text-f-body bg-dull-red rounded p-4 " %>
    <%= link_to "ストック一覧に戻る", stocks_path, class: "hover:text-dull-green hover:border-b-2 border-dull-green" %>
  </div>
  
<% end %>
  
  <%# TODO: 日時の表示形式、enum_helpでステータスの日本語化 %>
<% if action_name.in?(["edit", "update"]) %>
  <%= render 'history', histories: histories %>
<% end %>
