<%= turbo_frame_tag stock, data: { sortable_stock_id_value: stock.id } do %>
  <%# NOTE: ヘルパーにストックカードの描画ロジックを記述 %>
  <div class="relative flex items-center justify-center py-2 rounded mb-2 lg:mb-0 <%= set_stock_card_design(stock) %>">
    <!-- 左端デザイン帯 -->
    <div class="absolute left-0 top-0 bottom-0 w-1 bg-f-head/50 rounded-l"></div>

    <!-- ソートアイコン：一覧画面かつソートモード中のみ表示 -->
    <%# NOTE: broadcastはセッションを読み取れず、ソートアイコンは配信したくないためcurrentのままにする %>
    <% if current_list_type_value == "all" && current_sort_mode_value == "on" %>
      <div class="drag-handle cursor-grab basis-[40px] ml-4">
        <span class="size-10 flex items-center justify-center rounded-full bg-white text-f-head drop-shadow-lg">
          <svg class="size-6" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z"/><polyline points="7 8 12 3 17 8" /><polyline points="7 16 12 21 17 16" />
          </svg>
        </span>
      </div>
    <% end %>

    <div class="grow pl-4 pr-4">

      <!-- ストック名とチェックボックスor残数 -->
      <div class="flex justify-between items-center mb-2">
        <% if current_sort_mode_value == "on" %>
          <h3 class="disabled-text-color text-xl font-bold"><%= stock.name %></h3>

        <% else %>

          <%= link_to edit_stock_path(stock), data: { turbo_frame: 'modal_frame' }, class: "flex items-center space-x-4" do %>
            <h3 class="text-f-head text-xl font-bold"><%= stock.name %></h3>
            <% if stock.purchase_target %>
              <svg class="size-6 text-f-head" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z"/>  <circle cx="9" cy="19" r="2" /><circle cx="17" cy="19" r="2" /><path d="M3 3h2l2 12a3 3 0 0 0 3 2h7a3 3 0 0 0 3 -2l1 -7h-15.2" />
              </svg>
            <% end %>
          <% end %>
        <% end %>

        <%= turbo_frame_tag "stock_#{stock.id}_icon" do %>
          <%= render 'stocks/quantity_icon', stock: stock, sort_mode: (current_sort_mode_value || sort_mode) %>
        <% end %>
      </div>

      <!-- 更新日とゴミ箱アイコン -->
      <div class="flex justify-between items-center">
        <div class="text-sm disabled-text-color">最終更新日：<%= number_of_days_elapsed(stock) %></div>
        <div class="flex justify-end items-center w-8 px-[6px]">
          <% if current_sort_mode_value == "on" %>
            <svg class="size-5 disabled-text-color" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"/><line x1="4" y1="7" x2="20" y2="7" /><line x1="10" y1="11" x2="10" y2="17" /><line x1="14" y1="11" x2="14" y2="17" />
              <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
              <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
            </svg>
          <% else %>

            <%= link_to stock_path(stock), data: { turbo_method: :delete, turbo_confirm: t('defaults.confirm.stock'), turbo_frame: "stock_#{stock.id}" } do %>
              <svg class="size-5 text-f-body" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z"/><line x1="4" y1="7" x2="20" y2="7" /><line x1="10" y1="11" x2="10" y2="17" /><line x1="14" y1="11" x2="14" y2="17" />
                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
              </svg>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
<% end %>
