<% locations.each do |location| %>
  <div class="bg-white p-4 mb-6 rounded">
    <div class="flex justify-between items-center mb-6">
      <div class="flex justify-start items-center space-x-2">
        <h2 class="text-f-head text-2xl font-bold pl-6"><%= location.name %></h2>
        <%= link_to edit_location_path(location) do %>
          <div class="text-xl">編集</div>
        <% end %>
        <%= link_to location_path(location), data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm.location') } do %>
          <div class="text-xl">削除</div>
        <% end %>
      </div>
      <%= link_to new_stock_path(location: location.id), class: "pr-6" do %>
        <div class="text-xl">追加</div>
      <% end %>
    </div>

    <% if stocks.find_by(location_id: location.id).present? %>
      <div class="grid grid-cols-3 gap-4">
        <% stocks.where(location_id: location.id).each do |stock| %>
          <div class="bg-dull-beige p-4 rounded border border-black">
            <div class="flex justify-between items-center mb-4">
              <p class="text-f-head text-xl font-bold"><%= stock.name %></p>
              <%# TODO: renderで有無型の場合はアイコン、残数型の場合は残数を表示する %>
              <% if stock.existence? %>
                <div class=""><%= stock.latest_exist_quantity == 0 ? "なし" : "あり" %></div>
              <% else %>
                <div class="text-f-head text-xl font-bold"><%= "残#{ stock.latest_num_quantity }" %></div>
              <% end %>
            </div>
            <div class="text-f-body text-right mb-4">最終更新日：<%= stock.number_of_days_elapsed %></div>
            <div class="flex justify-end items-center space-x-2">
              <%= link_to edit_stock_path(stock) do %>
                <div class="text-xl">編集</div>
              <% end %>
              <%= link_to stock_path(stock), data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm.stock') } do %>
                <div class="text-xl">削除</div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <%= link_to new_stock_path(location: location.id), class: "pl-6" do %>
        <span class="text-xl text-f-body hover:text-dull-green hover:border-b-2 border-dull-green">ストックが登録されていません</span>
      <% end %>
    <% end %>
  </div>
<% end %>
