<div id="index" class="w-full">
  <!-- ActionCableの購買キーをセット -->
  <%= turbo_stream_from current_user.partnership_stream_key %>

  <div id="submenu" class="w-full sticky top-16 md:top-20 bg-dull-beige z-30">
    <!-- ストック検索フォーム -->
    <div id="search_form" class="w-full px-4 py-2">
      <%= render "search_form", q: @q %>
    </div>

    <!-- フィルタリングボタン -->
    <div id="list_type_bar" class="w-full text-f-body"> 
      <%= render "list_type_bar" %>
    </div>
  </div>

  <%# NOTE: indexをbroadcastで配信することはないため、ローカル変数はセッション値を読み取る %>
  <%= turbo_frame_tag "main_frame" do %>
    <%= render "main_frame", stocks: @stocks, locations: @locations, list_type: current_list_type, sort_mode: current_sort_mode %>
  <% end %>
</div>
