<div class="container mx-auto absolute top-24">
  <% if @locations.present? %>
    <div class="flex justify-between items-center my-6">
    <%# DONE: ボタンでの絞り込み機能、activeボタンの活性化 %>
      <div class="flex justify-start space-x-4">
        <%= link_to stocks_path do %>
          <div class="text-xl box-border border-2 rounded p-4 <%= active_filter_button?('index') %>">
            すべて
          </div>
        <% end %>
        <%= link_to in_stocks_stocks_path do %>
          <div class="text-xl box-border border-2 rounded p-4 <%= active_filter_button?('in_stocks') %>">
            あり
          </div>
        <% end %>
        <%= link_to out_of_stocks_stocks_path do %>
          <div class="text-xl box-border border-2 rounded p-4 <%= active_filter_button?('out_of_stocks') %>">
            なし
          </div>
        <% end %>
      </div>
      <div class="flex justify-end space-x-4">
        <%= link_to "テンプレート", templetes_path, class: "text-xl text-dull-green bg-white rounded box-border border-dull-green border-2 p-4 hover:bg-dull-green hover:text-white" %>
        <%= link_to "保管場所追加", new_location_path, class: "text-xl text-dull-green bg-white rounded box-border border-dull-green border-2 p-4 hover:bg-dull-green hover:text-white" %>
      </div>
    </div>
    <%= render 'stock', { stocks: @stocks, locations: @locations } %>
  <% else %>
    <div class="my-6">
      <%= link_to new_location_path do %>
        <span class="text-xl font-bold text-f-body hover:text-dull-green hover:border-b-2 border-dull-green">
          ストックの保管場所を登録しましょう<br>
          (登録フォームを開く)
        </span>
      <% end %>
    </div>
  <% end %>
</div>
