<div id="index" class="container mx-auto absolute top-24">
  <div class="flex justify-between items-center my-6">
    <div data-controller="filter-buttons" class="flex justify-start space-x-4">
      <%= link_to stocks_path, data: { turbo_frame: "main_frame", action: "click->filter-buttons#activate" } do %>
        <div data-filter-buttons-target="button" class="text-xl box-border border-2 rounded p-4 text-white border-dull-green bg-dull-green hover:brightness-70">
          すべて
        </div>
      <% end %>
      <%= link_to in_stocks_stocks_path, data: { turbo_frame: "main_frame", action: "click->filter-buttons#activate" } do %>
        <div data-filter-buttons-target="button" class="text-xl box-border border-2 rounded p-4 text-f-head border-black bg-white hover:text-white hover:bg-dull-green hover:border-dull-green">
          あり
        </div>
      <% end %>
      <%= link_to out_of_stocks_stocks_path, data: { turbo_frame: "main_frame", action: "click->filter-buttons#activate" } do %>
        <div data-filter-buttons-target="button" class="text-xl box-border border-2 rounded p-4 text-f-head border-black bg-white hover:text-white hover:bg-dull-green hover:border-dull-green">
          なし
        </div>
      <% end %>
    </div>
    <div class="flex justify-end space-x-4">
      <%= link_to "テンプレート", templetes_path, data: { turbo_frame: 'modal_frame' }, class: "text-xl text-dull-green bg-white rounded box-border border-dull-green border-2 p-4 hover:bg-dull-green hover:text-white" %>
      <%= link_to "保管場所追加", new_location_path, data: { turbo_frame: 'modal_frame' }, class: "text-xl text-dull-green bg-white rounded box-border border-dull-green border-2 p-4 hover:bg-dull-green hover:text-white" %>
    </div>
  </div>

  <%= render 'main_frame', { stocks: @stocks, locations: @locations } %>
</div>
