<header class="fixed top-0 left-0 z-10 w-full h-72px md:h-92px shadow-sm bg-white flex-none">
  <div class="container mx-auto px-4 py-2 md:px-6 md:py-4 w-full">
    <div class="flex items-center justify-between">
      <% if user_signed_in? %>
        <%= link_to stocks_path, class: "shadow-sm min-h-full" do %>
          <%= image_tag 'logo_svg.svg' %>
        <% end %>
      <% else %>
        <%= link_to root_path, class: "shadow-sm" do %>
          <%= image_tag 'logo_svg.svg', class: "h-auto md:h-15" %>
        <% end %>
      <% end %>

      <div class="flex items-center space-x-4 md:space-x-6">
        <% if user_signed_in? %>
          <%= link_to "使い方", '#', class: "text-base md:text-xl text-f-head" %>
          <%= button_to logout_path, method: :delete, class: "flex item-center text-base md:text-xl text-white bg-dull-green rounded p-4 cursor-pointer hover:brightness-70" do %>
            <svg class="size-6 text-white"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"/>
            </svg>
            ログアウト
          <% end %>
        <% else %>
          <%= button_to user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: false }, class: "flex items-center text-base md:text-xl text-white bg-dull-green rounded p-4 cursor-pointer hover:brightness-70" do %>
            <%= image_tag 'google_icon.svg', class: "inline-block size-6 mr-2" %>
            ログイン
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</header>
