<h2 class="modal-header">パートナー申請保留中</h2>

<p class="mb-2">
  <strong><%= current_user.active_partner.name %></strong> さんから<br>
  パートナー申請が届いています！
</p>

<details class="p-2 border border-f-body rounded">
  <summary class="cursor-pointer">パートナー申請とは？</summary>
  <div class="p-2 mt-2 border-t-1 border-f-body">
    <p>
      パートナーに設定したいユーザーへ申請を送ります。<br>
      申請を受け取ったユーザー（あなた）が承諾すると以下の操作が可能になります。
    </p>

    <div class="my-3">
      <p><%= current_user.active_partner.name %> さんの登録した</p>
      <ul class="bg-dull-beige rounded p-2">
        <li>保管場所・ストックの確認</li>
        <li>保管場所の編集・削除</li>
        <li>ストックの編集・削除</li>
      </ul>
    </div>
    <p>保管場所やストックの状況はリアルタイムで同期されます。</p>
  </div>
</details>

<div class="my-6 text-dull-red">
  <div class="flex items-center space-x-2 mb-1">
    <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
    </svg>
    <p>注意事項</p>
  </div>
  <p>
    現在、パートナー設定を解除する機能はありません。
    ご了承ください。
  </p>
</div>

<div class="flex items-center text-center space-x-2 mb-3">
  <div class="basis-1/2">
    <%= button_to "承諾する", partnerships_path,
      method: :put,
      form: { data: { turbo_method: :put, action: "turbo:submit-end->modal-frame#close", turbo_confirm: t('defaults.confirm.partnership.approve'), confirm_button_text: "ＯＫ" } },
      class: "w-full text-lg text-f-body bg-dull-red rounded p-2 hover:brightness-70"
    %>
  </div>
  <div class="basis-1/2">
    <%= button_to "拒否する", reject_partnerships_path,
      method: :delete,
      form: { data: { turbo_method: :delete, action: "turbo:submit-end->modal-frame#close", turbo_confirm: t('defaults.confirm.partnership.reject'), confirm_button_text: "ＯＫ" } },
      class: "w-full text-lg text-f-body bg-gray-300 rounded p-2 hover:bg-gray-400"
    %>
  </div>
</div>

<p>※ 申請を拒否しても相手に通知は届きません。</p>
<p>※ <%= l partnership.expires_at %> に申請は自動で拒否されます。</p>
