<%= form_with model: partnership, url: partnerships_path, method: :post, data: { action: "turbo:submit-end->modal-frame#close" } do |f| %>
  <h2 class="modal-header">パートナー申請</h2>

  <details class="p-2 border border-f-body rounded">
    <summary class="cursor-pointer">パートナー申請とは？</summary>
    <div class="p-2 mt-2 border-t-1 border-f-body">
      <p>
        パートナーに設定したいユーザーへ申請を送ります。<br>
        申請を受け取ったユーザー（パートナー）が承諾すると以下の操作が可能になります。
      </p>

      <div class="my-3">
        <p>パートナーの登録した</p>
        <ul class="bg-dull-beige rounded p-2">
          <li>保管場所・ストックの確認</li>
          <li>保管場所の編集・削除</li>
          <li>ストックの編集・削除</li>
        </ul>
      </div>
      <p>保管場所やストックの状況はリアルタイムで同期されます。</p>
      <p>また、パートナーへの買いものお願い依頼を送信することもできるようになります。</p>
    </div>
  </details>

  <div class="my-6">
    <p class="mb-2">
      パートナーに設定したいユーザーの<strong>本アプリに登録済のアドレス</strong>を入力してください。
    </p>
    <div class="flex items-center space-x-1 mb-1">
      <svg class="modal-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"/>
      </svg>
      <%= f.label :email, class: "modal-label" %>
    </div>
    <div class="w-full">
      <%= f.email_field :email, placeholder: "入力してください", class: "modal-input" %>
    </div>
    <p class="text-dull-red text-sm">
      <%= partnership.errors.full_messages.first if partnership.errors.any? %>
    </p>
  </div>

  <%= f.submit "申請する", class: "modal-submit w-full" %>
  <p>※ 申請を取り下げる、または、相手からの返答が来るまで再申請はできません。</p>
  <p>※ 申請の送信から30分が経過すると再申請が可能になります。</p>
<% end %>
