<main class="px-4">
  <div class="w-full py-10 md:py-16">
    <%= image_tag 'logo.svg', class: "w-[300px] md:w-[480px] mx-auto border-box border border-gray-700 rounded-xl shadow-lg" %>
  </div>

  <div class="text-xl">
    <p><strong><%= partner.name %></strong> さんから</p>
    <p>パートナー申請が届いています！</p>
  </div>

  <div class="py-10">
    <p class="pb-3">パートナーに設定すると以下の操作が可能になります。</p>
    <p>パートナーの登録した</p>
    <ul class="bg-white border-gray-600 border-2 rounded p-2">
      <li>保管場所・ストックの確認</li>
      <li>保管場所の編集・削除</li>
      <li>ストックの編集・削除</li>
    </ul>
  </div>

  <div class="flex items-center text-center space-x-2 mb-3">
    <div class="basis-1/2">
      <%= button_to "承諾する", approve_public_partnerships_path,
        method: :put,
        form: { data: { turbo_method: :put, action: "turbo:submit-end->modal_frame#close", turbo_confirm: t('defaults.confirm.partnership.approve'), confirm_button_text: "ＯＫ" } },
        params: { token: partnership.token },
        class: "w-full text-lg text-f-body bg-dull-red rounded p-2 hover:brightness-70"
      %>
    </div>
    <div class="basis-1/2">
      <%= button_to "拒否する", reject_public_partnerships_path,
        method: :delete,
        form: { data: { turbo_method: :delete, action: "turbo:submit-end->modal_frame#close", turbo_confirm: t('defaults.confirm.partnership.reject'), confirm_button_text: "ＯＫ" } },
        params: { token: partnership.token },
        class: "w-full text-lg text-f-body bg-gray-300 rounded p-2 hover:bg-gray-400"
      %>
    </div>
  </div>

  <p>※ 申請を拒否しても相手に通知は届きません。</p>
  <p>※ <%= l partnership.expires_at %> に申請は自動拒否されます。</p>
</main>
