<div class="w-full py-10 md:py-16">
  <%= image_tag 'logo.svg', class: "w-[300px] md:w-[480px] mx-auto border-box border border-gray-700 rounded-xl shadow-lg" %>
</div>

<div class="px-4">
  <div class="text-xl font-bold"><%= @partner.name %> さん</div>
  <div class="pb-4">
    <p>パートナー申請が届いています！</p>
    <p><%= link_to 'こちら', public_partnerships_url(token: @partnership&.token), class: "font-bold text-dull-green underline" %> から確認してください！</p>
  </div>
  <p class="pb-4"><%= link_to 'トップページ', root_url, class: "text-dull-green underline" %> からログインして確認することもできます。</p>

  <p class="text-xl font-bold">パートナー申請とは？</p>
  <ul class="bg-white rounded p-2">
    <li>本アプリのユーザー同士を紐づける申請です。</li>
    <li>あなたが申請を承諾するとパートナーとして設定されます。</li>
    <li>パートナーになるとお互いの入力した情報を共有することができます。</li>
  </ul>

  <p>※ 申請は<span class="font-bold"><%= l @partnership.expires_at %></span>に自動拒否されます。</p>
  <p>※ 拒否されても相手に通知等は届きません。</p>
</div>
