<%= form_with model: location, data: { action: "turbo:submit-end->modal-frame#close" } do |f| %>
  <div class="flex flex-col mb-6">
    <%= f.label :name, class: "text-xl font-bold text-f-head" %>
    <%= f.text_field :name, placeholder: "入力してください", class: "bg-white border-black border rounded p-2 w-full" %>
    <%= render 'shared/error_messages', object: location, attribute: :name %>
  </div>

  <div class="flex justify-between items-center mb-4 space-x-4">
    <div class="flex justify-start">
      <%= f.submit "保存", class: "text-xl text-f-body bg-dull-red rounded p-4 " %>
      <% if action_name.in?(["edit", "update"]) %>
        <%= link_to location_path(location), data: { turbo_method: :delete, turbo_confirm: t('defaults.confirm.location') } do %>
          <div class="text-xl text-f-body bg-gray-300 rounded p-4 hover:bg-gray-400">削除</div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
