<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Attakke?" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- GoogleFont "Yusei Magic" -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">

    <%= favicon_link_tag 'favicon.svg' %>

    <!-- 共通OGP設定 -->
    <meta property="og:url" content="https://mada-attakke.com/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Attakke? | ご家庭の消耗品ストック管理アプリ"/>
    <meta property="og:description" content="Attakke?(あったっけ？)はご家庭の消耗品ストックを可視化し、買いすぎや買い忘れを防止するストック管理アプリです"/>
    <meta property="og:site_name" content="Attakke?"/>
    <meta property="og:image" content="<%= "#{request.base_url}/ogp_image.png" %>"/>

    <!-- GA4 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9YPTYCXHQF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-9YPTYCXHQF');
    </script>

    <!-- WebPush -->
    <link rel="manifest" href="/manifest.json">
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js', { scope: '/' })
            .then(reg => console.log('ServiceWorker registered: ', reg))
            .catch(err => console.error('ServiceWorker registration failed: ', err));
        });
      }
    </script>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body data-controller="push"
        data-push-public-key-value="<%= ENV['VAPID_PUBLIC_KEY'] %>"
        class="flex flex-col pt-16 md:pt-20 min-h-screen bg-dull-beige text-base text-f-body font-yusei">

    <%= render "shared/header", cached: true %>
    <%= render "shared/confirm" %>
    <%= render "shared/flash_message" %>

    <main class="container mx-auto grow">
      <%= yield %>
    </main>

    <%= render "shared/footer_menu" %>
    <%= render "shared/footer", cached: true %>

    <%= turbo_frame_tag "modal_frame" %>

  </body>
</html>
