<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Attakke?" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- GoogleFont "Yusei Magic" -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">

    <%= favicon_link_tag 'favicon.svg' %>

    <!-- 共通OGP設定 -->
    <meta property="og:url" content="https://attakke.onrender.com/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Attakke? | ご家庭の消耗品ストック管理アプリ"/>
    <meta property="og:description" content="Attakke?(あったっけ？)はご家庭の消耗品ストックを可視化し、買いすぎや買い忘れを防止するストック管理アプリです"/>
    <meta property="og:site_name" content="Attakke?"/>
    <meta property="og:image" content="<%= "#{request.base_url}/ogp_image.png" %>"/>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="flex flex-col pt-18 md:pt-24 min-h-screen bg-dull-beige text-base text-f-body font-yusei">
    <%= render 'shared/confirm' %>
    <%= render 'shared/flash_message' %>
    <%= render 'shared/header' %>
    <main class="container mx-auto grow">
      <%= yield %>
    </main>
    <%= render 'shared/footer_menu' %>
    <%= render 'shared/footer' %>
    <%= turbo_frame_tag 'modal_frame' %>
  </body>
</html>
